.redes ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
}
.redes ul li a img{
    width: 30px;
}
.redes {
    position: fixed;
    top: 40%; 
    transform: translateY(-40%); 
    margin-left: 10px;
  }
.redes ul li a .x{
    width: 55px;
    margin-left: -12px;
}