.redes ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    margin-left: 10px;
    margin-top: 13%;
    

}
.redes ul{
    list-style: none;

}
.redes ul li a img{
    width: 30px;
}
