.aboutme {
  background-color: #797777;
  justify-content: center;

  width: 85%;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutme h2 {
  color: white;
  margin-bottom: 10px;
}

.aboutme p {
  color: white;
  line-height: 1.6;
}

.aboutme .btn {
  margin-top: 15px;
  background-color:#FCB1A6;
  color: black;
  padding: 15px 24px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.aboutme .btn:hover {
  background-color: #f8bbb1;
}

@media screen and (max-width:800px) {
  .aboutme{
    margin-top: 40px;
  }
  .aboutme h2 {
    margin-top: 60px;
   
  }
  .aboutme{
   margin-left: 10%;
  }
}